@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0a;
  color: #e5e5e5;
}

a {
  text-decoration: none;
}

::selection {
  background: #e67a55;
  color: #0a0a0a;
}
